:root{
    --azul-escuro: #022463;
    --azul-claro: #3D85C6;
    --branco: #ffffff;
    --font-primaria: "Work Sans", sans-serif;
    --font-secundaria: "Poppins", sans-serif;
    --overlay: #0224638b;;

}

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-primaria);
    
}
body .imagem{
    max-width: 99%;
    height: 500px;
    background-image: url(/src/img/nossa-historia.jpg);
    background-position: center 40%;
    position: relative;
    text-align: center;
    align-content: center;
    background-repeat: no-repeat;




}

body .overlay{
    position: absolute;
    width: 100vw;
    height: 500px;
    background-color: var(--overlay);
    opacity: 0.8;
    top: 70px;
    
}
/* araturi */
.araturi{
    display: flex;
    width: 95vw;
    height: 80vh;
    background-color: var(--azul-escuro);
    border-radius: 0px 10px 10px 0px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.araturi .img-araturi{
    min-width: 50%;
    font-size: var(--branco);
    
}
.araturi img{
    max-width:100%;
    border-radius: 10px;
}
.historia-araturi{
    width: 50%;

    color: var(--branco);

}
.historia-araturi h2{
    margin-bottom: 30px;
}
.historia-araturi p{
    width: 90%;
}
.metropole{
    margin-top: 50px;
    display: flex;
    width: 95%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--azul-escuro);
    margin-left: 4%;
    padding-right: 10px;
    border-radius: 10px 0px 0px 10px;

}
.metropole .img-metropole{
    min-width: 50%;
    

}
.metropole .img-metropole img{
    max-width: 100%;
    border-radius: 10px;


}
.metropole .historia-metropole{
    width: 80%;
    color: var(--branco);
    margin-left: 30px;
    

}
.metropole .historia-metropole h2{

    margin-bottom: 30px;
}

.historia-metropole p{
    width: 90%;
    
}

/* equipe pedagogica */
.equipe-pedagogica{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    
}
.conteiner{
    width: 80%;
    height: 90vh;
    text-align: center;
    align-content: center;
    background-color: var(--azul-escuro);
    border-radius: 60px 60px 60px 0px;
    box-sizing: border-box;
    object-fit: contain;
}
.equipe-pedagogica
.fa-circle-arrow-left{
    font-size: 32px;

}
.fa-circle-arrow-right{
    font-size: 32px;
    margin-left: 10px;
}
.conteiner-carrosel{
    display: flex;
    width: 100;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    
}
.equipe-pedagogica h3{
    margin-bottom: 20px;
    color: var(--branco);
}
.card{
    max-width: 100%;
    margin: 0px 10px;
    object-fit: contain;
}
.card img{
    max-width: 100%;
    object-fit: contain ;
    border-radius: 10px 10px 0px 0px;
}
.info{
    background-color: var(--branco);
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}